<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
    <link rel="stylesheet" href="/static/common.css">
</head>
<body>
<div>
<table>
    <thead>
    <tr>
        <th>NUM</th>
        <th>name</th>
        <th>age</th>
        <th>gender</th>
        <th>school</th>
        <th>option</th>
    </tr>
    </thead>
    <tbody>
    {% for item in user_list %}
        <tr u_id="{{ item.id }}">
            <td>{{ forloop.counter }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.school__s_name }}</td>
            <td><a class="del_modal_trigger del_content">del</a>|<a class="modal_trigger edit_content">edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <input type="button" value="add" class="modal_trigger add_content">

</div>
{#modals#}
<div class="hide" id="shadow"></div>
<div class="hide modal">
    <form id="add_edit_form" action="ajax1.html" method="post">
        <p><a class="danger">{{ err_msg }}</a></p>
        <p>name: <input type="text" name="name" id="name"></p>
        <p>age: <input type="text" name="age" id="age"></p>
        <p>gender:
            <select id="gender">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
        </p>
        <p>school:
            <select id="school">
                {% for item in school_list %}
                    <option value="{{ item.s_name }}">{{ item.s_name }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="text" name="id" id="u_id" class="hide">
        <input type="text" name="method" id="submit_method" class="hide">
        <p><input id="ajax_submit" type="button" value="ajax_submit"></p>
        <p><input class="modal_hider" type="button" value="cancel"></p>
    </form>
</div>
<div class="hide del_modal">
    <h1>确认要删除吗？</h1>
    <form action="ajax1.html" method="post">
        <input type="text" name="id" id="del_id" class="hide"/>
        <p><input type="button" value="del" id="del_submit"/></p>
        <p><input class="del_modal_hider" type="button" value="cancel"></p>
    </form>
</div>
<script src="/static/jQuery3.4.1.js"></script>
<script src="/static/ajax1.js"></script>
</body>
</html>